.about-wrapper {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.profile-picture {
    width: 100%;
}

.about-text {
    font-size: 18px;
    text-align: left;
    padding: 15px;
}

@media (min-width: 1024px) {    
    .about-wrapper {
        width: 1000px;
        margin: 0 auto;
    }

    .profile-picture {
        display: inline-block;
        width: 334px;
        margin-right: 50px;
        padding: 0;
    }

    .about-text {
        display: inline-block;
        width: 472px;
        margin: 0;
        line-height: 170%;
    }
}