
.about p {
    font-size: 18px;
    text-align: left;
    padding: 15px;
}

@media (min-width: 1024px) {
    
    .about div {
        width: 1000px;
        min-height: 40vh;
        margin: 0 auto;
    }

    .about img {
        display: inline-block;
        width: 334px;
        margin-right: 50px;
        padding: 0;
    }

    .about p {
        display: inline-block;
        width: 472px;
        margin: 0;
        line-height: 170%;
    }
}