.about-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 0 auto;
}

.about-image {
    width: 100%;
}

.about-bio {
    font-family: var(--font-1);
    margin: 1rem 0;
    font-size: 1.25rem;
}

@media (min-width: 700px) {
    .about-wrapper {
        flex-direction: row;
    }

    .about-image {
        width: 300px;
    }

    .about-text {
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .about-bio {
        margin: 0;
    }
}