.contact {
    text-align: left;
}

.contact h2 {
    font-weight: 300;
    font-size: 23px;
}

.contact h4 {
    text-align: center;
}

.contact p {
    font-size: 18px;
    font-weight: 200;
}

.contact p a {
    font-weight: 400;
}

.ikony_contact a img:hover {
    filter: brightness(30%);
}

.accordion {
    max-width: 600px;
    margin: 20px auto;
}

.accordion-header {
    position: relative;
    width: 100%;
    padding: 16px 20px;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: #595656;
    transition: color 0.3s ease;
}

.accordion-header:hover {
    color: #333;
}

.accordion-arrow {
    position: absolute;
    right: 20px;
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}

.accordion-arrow.rotate {
    transform: rotate(0deg);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
}

.accordion-content.show {
    max-height: 2000px;
    padding: 5px 0 20px;
}

@media (min-width: 748px) {
    .contact {
        text-align: center;
        margin: 0 auto;
    }
}

@media (min-width: 1000px) {

    .contact h2 {
        font-size: 28px;
        margin: 0 0 60px;
    }

    .contact h3 {
        font-size: 26px;
    }
    
    .contact p {
        font-size: 22px;
    }

}

.privacy-policy {
    margin: 0 auto;
}

.privacy-policy, .privacy-policy p {
    font-size: 11px;
}

.privacy-policy p {
    margin-top: 4px;
}

.privacy-policy li {
    text-align: left;
    list-style-type: circle;
}

@media (min-width: 748px) {
    .privacy-policy {
        margin: 0 auto;
    }

    .privacy-policy-list {
        padding-left: 22%;
        margin: 11px auto;
    }
}