.footer {
    width: 100%;
}

.footer-privacy-policy {
    margin-inline: auto;
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    font-family: var(--font-1);
}

.footer-copyright {
    text-align: center;
    font-family: var(--font-1);
}