.footer {
    width: 100%;
}

.footer-copyright {
    text-align: center;
    font-family: var(--font-1);
}

.footer-instagram-anchor {
    display: block;
    margin: 1rem auto;
    width: 1rem;
    padding: 1rem;
    box-sizing: content-box;
}

.footer-instagram-anchor:hover {
    color: var(--light-gray);
}