.footer {
    width: 100%;
    padding: 1rem 0;
}

.footer-copyright {
    text-align: center;
    font-family: var(--font-1);
}

.footer-instagram-anchor {
    display: block;
    margin: 1rem auto 0;
    width: 1rem;
}