.gallery img {
    width: 100%;
    margin-bottom: 5vw;
}

.vertical-images-row {
	display: none;
}

@media (min-width: 1024px) {
	.vertical-images-row {
		display: block;
	}

	.gallery div {
		margin-bottom: 1.5vw;
	}
	
	.gallery div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	.gallery img {
		width: 28.5vw;
		height: 19vw;
		margin-bottom: 0;
	}

	.gallery img.vertical_image {
		width: 16.7vw;
		height: 24vw; 
	}
}

