.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--transparent-background);
}

.logo-anchor {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.logo {
    width: 2rem;
    height: 2rem;
}

.inner-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}

.nav {
    display: flex;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-link {
    font-family: var(--font-1);
}

.instagram-anchor {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.instagram-image {
    width: 32px;
    height: 32px;
}