.header {
    width: 100%;
    background-color: var(--transparent-background);
}

.inner-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}

.logo-anchor {
    padding: 1rem;
    font-family: var(--font-1);
}

.logo-text {
    display: block;
}

.logo-top {
    letter-spacing: 0.09em;
    font-size: 18px;
}

.logo-bottom {
    font-size: 14px;
}   

.nav {
    display: flex;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-link {
    font-family: var(--font-1);
}

.instagram-anchor {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.instagram-image {
    width: 32px;
    height: 32px;
}