@import "o_mnie.css";
@import "projekty.css";
@import "kontakt.css";

section {
	padding: 10px 5vw;
}

@media (min-width: 1000px) {
	main img {
		margin-bottom: 0;
	}

	#main-photos div {
		margin-bottom: 1.5vw;
	}
	
	#main-photos div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	#main-photos img {
		width: 28.5vw;
		object-fit: cover;
	}

	#main-photos img.pojedyncze {
		width: 16.7vw;
	}
}

@media (min-width: 800px) {

	section {
		padding: 50px 5vw;
	}
}