@import "o_mnie.css";
@import "projekty.css";
@import "kontakt.css";

section {
	padding: 10px 5vw;
}

@media (min-width: 1400px) {
	main img {
		margin-bottom: 0;
	}

	#index div {
		margin-bottom: 1.5vw;
	}
	
	#index div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	
	#index picture {
		width: 28.5vw;
		height: 19vw;
	}
	
	#index img {
		width: 100%;
		height: 100%;
	}

	#index picture:has(> img.pojedyncze) {
		width: 16.7vw;
		height: 24vw; 
	}
}

@media (min-width: 800px) {

	section {
		padding: 50px 5vw;
	}
}