#kontakt {
    text-align: left;
    height: 38vh;
}

#kontakt h2 {
    font-weight: 300;
    font-size: 23px;
}

#kontakt h3 {
    text-align: center;
}

#kontakt p {
    font-size: 18px;
    font-weight: 200;
}

#kontakt p a {
    font-weight: 400;
}

#ikony_kontakt a img:hover {
    filter: brightness(30%);
}

@media (min-width: 748px) {
    #kontakt {
        text-align: center;
        margin: 0 auto;
    }
}

@media (min-width: 1000px) {

    #kontakt h2 {
        font-size: 28px;
        margin: 0 0 60px;
    }

    #kontakt h3 {
        font-size: 26px;
    }

    #kontakt p {
        font-size: 22px;
        margin-top: 70px;
    }
}