#kontakt {
    text-align: left;
}

#kontakt h2 {
    font-weight: 300;
    font-size: 23px;
}

#kontakt h4 {
    text-align: center;
}

#kontakt p {
    font-size: 18px;
    font-weight: 200;
}

#kontakt p a {
    font-weight: 400;
}

#ikony_kontakt a img:hover {
    filter: brightness(30%);
}

@media (min-width: 748px) {
    #kontakt {
        text-align: center;
        margin: 0 auto;
    }
}

@media (min-width: 1000px) {

    #kontakt h2 {
        font-size: 28px;
        margin: 0 0 60px;
    }

    #kontakt h3 {
        font-size: 26px;
    }
    
    #kontakt p {
        font-size: 22px;
    }

}

#privacy-politics {
    margin: 0 auto;
}

#privacy-politics, #privacy-politics p {
    font-size: 11px;
}

#privacy-politics p {
    margin-top: 4px;
}

#privacy-politics li {
    text-align: left;
    list-style-type: circle;
}

@media (min-width: 748px) {
    #privacy-politics {
        width: 50%;
        margin: 0 auto;
    }

    #privacy-politics ul {
        width: fit-content;
        margin: 0 auto;
    }
}