@media (min-width: 1000px) {

	#milosc div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	#milosc img {
		width: 28.5vw;
	}

	#milosc img.pojedyncze {
		width: 21vw;
		max-height: 48vw;
	}
}

