
#o_mnie p {
    font-size: 18px;
    text-align: left;
    padding: 15px;
}

@media (min-width: 1000px) {
    
    #o_mnie div {
        width: 1000px;
        min-height: 54vh;
        margin: 0 auto;
    }

    #o_mnie img {
        display: inline-block;
        width: 334px;
        margin-right: 50px;
        padding: 0;
    }

    #o_mnie p {
        display: inline-block;
        width: 472px;
        margin: 0;
        line-height: 170%;
    }
}