
#projekty {
    padding: 0 10vw;
}

#projekty div {
    width: 90%;
    margin: 0 5% 45px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}

#projekty div a {
    text-decoration: none;
    font-family: "Quicksand";
}

#projekty div a img {
    height: 50vw;
    object-fit: cover;
    margin-bottom: 10px;
}

@media (min-width: 800px) {

    #projekty div {
        width: 40%;
        margin: 20px 4%;
    }

    #projekty div a img {
        max-height: 22vw;
    }
}

@media (min-width: 1000px) {

    #projekty {
        padding-top: 70px;
    }
    
    #projekty div a img {
        max-height: 17vw;
        margin-bottom: 13px;
    }

    
}

@media (min-width: 1300px) {
    
    #projekty {
        padding-top: 40px;
    }

    #projekty div {
        width: 25%;
        margin: 30px 4% ;
        font-size: 18px;
    }

    #projekty div a img {
        max-height: 11vw;
    }
}

@media (min-width: 1600px) {

    #projekty {
        font-size: 21px;
    }
    
}