.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

.project-container {
    width: 100%;
}

.project-image {
    width: 100%;
    aspect-ratio: 0.75;
    object-fit: cover;
}

.project-title-anchor {
    display: block;
    margin-top: 0.5rem;
    font-family: var(--font-1);
}

@media (min-width: 700px) {
    .project-container {
        max-width: 20rem;
    }
}