main {
    padding: 50px 10vw;
}

main img {
    margin-bottom: 5vw;
}

@media (min-width: 1000px) {

    main div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    main img {
        width: 99%;
        margin: 0.5%;
        object-fit: cover;
    }

    .pojedyncze {
        width: 48.7%;
    }
}