@font-face {
    font-family: 'Minion Pro Regular';
    src: url('../fonts/MinionPro-Regular.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a,
a:hover,
a:visited,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
}

/* Globals */

:root {
    --black: hsl(0, 0%, 0%);
    --transparent-background: rgba(255, 255, 255, 0.4);

    --font-1: 'Minion Pro Regular', serif;

    --max-width: 1300px;
    --header-height: 64px;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1; 
}

/* Components */

.inner-section {
    max-width: var(--max-width);
    margin-inline: auto;
    padding: 1rem;
}

.section-title {
    text-align: center;
    font-family: var(--font-1);
    margin-bottom: 1rem;
}

/* Button up scroll */

.to-top {
    background: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}