/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Wire+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
/* Header styling */
@import "header.css";
/* Footer  styling */
@import "footer.css";

html {
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

h1, h3 {
    color:#595656;
    font-weight: lighter;
}
  
h1 {
    font-family: 'Wire One', sans-serif;
    font-size: 55px;
    font-weight: 400;
    margin: 0 0 5px;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    margin-top: 0;
}

a:link {
    color: #595656;
    text-decoration: none;
}

a:visited {
    color: #595656;
}

a:hover {
    color: black;
}

main img {
    width: 100%;
    margin-bottom: 5vw;
}

p {
    font-size: 25px;
    color:#595656;
}

/* Class selectors */

.to-top {
    background: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}